@model ISSCFG.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Sorry :(</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    @Model.UserMessage
</p>
<button data-toggle="collapse" data-target="#demo">Details</button>
<div id="demo" class="collapse">
    <code>@Model.StackTrace</code>
</div>
<h3>Contacts</h3>
<p>
    Please, feel free to contact me <a href="mailto:emanuele.rossi@gmail.com?subject=Support Request!&body=@Model.RequestId">emanuele.rossi@gmail.com</a>
</p>